.book {
	box-shadow: 3px 3px 4px gray;
	border-radius: 10px;
}
.loading-container,
.error-container {
	height: 70vh;
	justify-content: center;
	align-items: center;
}
.spinner {
	width: 2.5rem;
	height: 2.5rem;
}
.initial-text {
	width: 50%;
	margin: 35vh auto;
}
